
html,body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}
.wrap-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
}
.dialog {
    position: relative;
    margin: 15% auto;
    width: 300px;
    background-color: #FFFFFF;
}
.dialog .dialog-header {
    height: 20px;
    padding: 10px;
    background-color: lightskyblue;
}
.dialog .dialog-body {
    height: 30px;
    padding: 20px;
}
.dialog .dialog-footer {
    padding: 8px;
    background-color: whitesmoke;
}
.btn {
    width: 70px;
    padding: 2px;
}
.hide {
    display: none;
}
.ml50 {
    margin-left: 50px;
}